@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";


@layer utilities {
    .font-poppins {
      font-family: 'Poppins', sans-serif;
    }
  }

@layer base {

  :root {
    --primary-1: #063434;
    --primary-2: #A5DF78;
    --secondary: #3A5D5D;
  }
  
}

@layer utilities {
 
  .bg-primary-1 { background-color: var(--primary-1); }
  .text-primary-1 { color: var(--primary-1); }
  .bg-primary-2 { background-color: var(--primary-2); }
  .text-primary-2 { color: var(--primary-2); }
  .bg-secondary { background-color: var(--secondary); }
  .text-secondary { color: var(--secondary); }

  .hover\:bg-primary-1:hover { background-color: var(--primary-1); }
  .hover\:text-primary-1:hover { color: var(--primary-1); }
  .hover\:bg-primary-2:hover { background-color: var(--primary-2); }
  .hover\:text-primary-2:hover { color: var(--primary-2); }
  .hover\:bg-secondary:hover { background-color: var(--secondary); }
  .hover\:text-secondary:hover { color: var(--secondary); }
}


